
  .scoreboard_name1 {
    color: limegreen;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .scoreboard_name2 {
    color: red;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  :root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
  }   
  
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #8d9194;
    color: #ffe70a;
    text-align: center;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header, footer {
  flex-grow: 1;
  border: 3px solid black;
  }
  
  aside {
    background-color: var(--dusty-emerald);
  flex-grow: 2;
  }
  
  main {
    background-image: url("./assets/oceanbackground2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #cccccc;
  flex-grow: 4;
  min-height: 60vh;
  }

 .scoreboard {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;

 } 

 .scoreboard_name, .scoreboard_score {
     padding: 10px;
     text-align: center;
     font-weight: bold;
 }

 .button {
   padding: 16px;
   border: 2px solid black;
   min-width: 150px;
   display: inline-block;
   box-shadow: 0 2px rgb(102, 101, 101);
   border-radius: 15px;
 }

 .button1:active {
  background-color: #eeff01;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
 }
 .button2:active {
  background-color: rgb(60, 188, 231);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
 }
 .button3:active {
  background-color: orange;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
 }
 .button4:active {
  background-color: lime;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
 }
 .button5:active {
  background-color: lightslategray;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
 }

  #oppHealthBar {

	bottom: 635px;
	right: 150px;
	height: 25px;
	border: 3px black solid;
	background: limegreen;
}
#yourHealthBar {
  
  bottom: 635px;
  left: 150px;
  height: 25px;
  border: 3px black solid;
  background: limegreen;
}
#oppResults {
  color: red;
}
#announcements {
  color: black;
  width: 500px;
  height:500px
  
}

#announcements span {
	color: black;
  
}

.player, .opponent {
  transform: scaleX(-1);
  
}
img {
  margin-top: 110px;
}

.opponent {
  color: red;
}