
  
  
  
  :root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
  }   
  
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #8d9194;
    color: #ffe70a;
    text-align: center;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header, footer {
  flex-grow: 1;
  border: 3px solid black;
  }
  
  aside {
    background-color: var(--dusty-emerald);
  flex-grow: 2;
  }
  
  main {
    background-image: url("./assets/oceanbackground2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #cccccc;
  flex-grow: 4;
  min-height: 60vh;
  }

 .scoreboard {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;

 } 

 .scoreboard_name, .scoreboard_score {
     padding: 10px;
     text-align: center;
     font-weight: bold;
 }

 .button {
   padding: 16px;
   border: 2px solid black;
   min-width: 150px;
   display: inline-block;
   box-shadow: 0 9px rgb(102, 101, 101);
   border-radius: 15px;
 }

 .button:active {
  background-color: #eeff01;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }

  #oppHealthBar {

	bottom: 635px;
	right: 150px;
	height: 25px;
	border: 3px black solid;
	background: limegreen;
}
#yourHealthBar {
  
  bottom: 635px;
  left: 150px;
  height: 25px;
  border: 3px black solid;
  background: limegreen;
}

#announcements {
	
  color: black;
}

#announcements span {
	color: black;
  
}

.player, .opponent {
  transform: scaleX(-1);
  
}
img {
  margin-top: 110px;
}

.opponent {
  color: red;
}